{% extends 'main.twig' %}

{% block content %}
    {% if articles is not empty %}
    <div class="section">
        <div class="section-header">All news</div>
        {% for article in articles %}
            <div class="section-row">
                <div class="section-row-content">
                    <div class="section-row-title">{{ article.title }}</div>
                    <div class="section-row-text">{{ article.description }}</div>
                </div>
                <div class="section-row-buttons">
                    <a href="javascript:void(0)" class="edit-btn" data-id="{{ article.id }}">
                        <img src="../assets/images/pencil.svg" height="16">
                    </a>
                    <a href="/delete-article/{{ article.id }}">
                        <img src="../assets/images/close.svg" height="16">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="section" id="form-section">
        {% block form %}{% endblock %}
        <a href="/logout" class="button">Logout</a>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="../../assets/scripts/list.js"></script>
{% endblock %}