{% extends 'main.twig' %}

{% block content %}
    <div class="section">
        <div class="section-header">All news</div>
        {% for article in articles %}
            <div class="section-row">
                <div class="section-row-content">
                    <div class="section-row-title">{{ article.title }}</div>
                    <div class="section-row-text">{{ article.description }}</div>
                </div>
                <div class="section-row-buttons">
                    <a href="/edit-article/{{ article.id }}">
                        <img src="../assets/images/pencil.svg" height="16">
                    </a>
                    <a href="/delete-article/{{ article.id }}">
                        <img src="../assets/images/close.svg" height="16">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="section">
        {% block form %}{% endblock %}
        <a href="/logout" class="button">Logout</a>
    </div>
{% endblock %}