html {
  min-height: 100%;
}

body {
  background-image: url("../images/waves.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  min-height: 100%;
}

.page-content {
  margin: 0 auto;
  max-width: 800px;
  color: #16396B;
  font-family: Arial, serif;
  display: grid;
  grid-row-gap: 40px;
}

.page-content .header {
  text-align: center;
}

.section, .section form {
  display: grid;
  grid-row-gap: 20px;
}

.section .section-header {
  font-weight: bold;
  font-size: 1.5em;
}

.section .section-header-with-functions
{
  display: grid;
  grid-template-columns: calc(100% - 36px) 16px;
  grid-gap: 20px;
}

.section .section-row {
  border: 2px solid rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 3px;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: calc(100% - 80px) 60px;
  grid-gap: 20px;
}

.section .section-row .section-row-content > * {
  display: inline-block;
  margin-right: 10px;
}

.section .section-row .section-row-content .section-row-title {
  font-weight: bold;
}

.section .section-row .section-row-buttons {
  text-align: right;
}

.section .section-row .section-row-buttons > * {
  display: inline-block;
  margin-left: 5px;
}

/* form styles */

.section form input[type=text], .section form input[type=password], .section form textarea {
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 3px;
  padding: 15px 25px;
  display: block;
  width: 100%;
  font-family: Arial, serif;
  font-size: 1em;
  color: #16396B;
}

button, input[type=submit], .button {
  color: white;
  background-color: #16396B;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  font-family: Arial, serif;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

button:hover, input[type=submit]:hover, .button:hover {
  background-color: rgba(22, 57, 107, 0.8);
  transition: .2s
}

.messages-section .message {
  padding: 20px 30px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.messages-section .message.message-success {
  border-color: #008500;
  color: #008500;
  background-color: rgba(0, 133, 0, 0.1);
}

.messages-section .message.message-error {
  border-color: #d90012;
  color: #d90012;
  background-color: rgba(217, 0, 18, 0.1);
}